
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="dash-form">
<div class="left">

    <ul>
        <li>
            <div class="logo"> <i class="fa-solid fa-briefcase" style="color: rgb(65,63,212);"></i>Jobify  </div>
            
            <a class="icon" routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-house"></i>Dashboard</a>
            <a class="icon"routerLink="/jobs" routerLinkActive="active" ><i class="fa-solid fa-briefcase"></i>Jobs</a>
            <a class="icon" routerLink="/add-job" routerLinkActive="active"><i class="fa-solid fa-plus"></i>Add Job</a>
            <a class="icon" routerLink="/profile" routerLinkActive="active" ><i class="fa-solid fa-circle-user"></i>Profile</a>
            <a class="icon" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
           
            
        </li>
      
    </ul>
    <div class="bg-image">
      <img src="/bg.png" alt="bg">
    </div>
</div>